.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 10s linear; */
  height: 30px;
}

.App-header {
  background-color: #222;
  color: white;
  padding: .5rem;
}

.App-header .row {
  padding: 0 15px;
}

.App-header-content {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 1140px;
}

.App-title {
  font-size: 1.5em;
  margin: 0 1rem;
}

.App-intro {
  font-size: large;
}

.layout-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 1rem 0;
}

.layout-list {
}
.layout-list .card.front {
  display: flex;
  flex-direction: row;
}
.layout-list a {
  height: 125px;
  display: block;
}
.layout-list a img {
  height: 100%;
  width: auto;
}
.layout-list .trick-description { display: none; }

.trick-container {
  perspective: 1000px;
  position: relative;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}



.front,
.back { backface-visibility: hidden; }

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
}

.flipped {
  transform: rotateY(180deg);
}

.flip {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
